<%= simple_form_for @alert, :url=> {:action=>:create,:id=>@customer.id} do |f| %>
<% if @alert.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@customer.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-inputs">
	<div class="field">
		Alert description:<br/> <%= f.text_area :description %> </br>
	</div>
	<%= f.submit %>
</div>

<% end %>